.contactme {
  background-color: rgb(40, 40, 40);
  width: 100%;
  height: auto;
}
.formFill {
  max-width: 1000px;
  margin: 0 auto;
  padding: 5%;
}
.creat {
  font-size: 50px;
  margin-bottom: 40px;
  color: rgb(112, 103, 103);
  letter-spacing: 2px;
}
#formcreate {
  display: flex;
  flex-direction: column;
}
#titlename,
#emailname,
#subjectname,
#textareadis {
  border: none;
  padding: 10px;
  border-radius: 10px;
  box-shadow: rgb(192, 77, 19) 0px 5px 15px;
  margin-bottom: 25px;
}
#submit {
  align-self: flex-start;
  color: rgb(112, 103, 103);
  transition: all 0.3s;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
}
#submit:hover {
  transform: scale (1.1);
  background-color: rgb(192, 77, 19);
  color: white;
  box-shadow: rgb(192, 77, 19) 0px 5px 15px;
}

/* footer part */

.footer {
  position: relative;
  background-color: rgb(26, 25, 25);
  width: 100%;
}
.footer h1 {
  position: absolute;
  color: rgb(112, 103, 103);
  bottom: 0%;
  font-size: 55px;
  left: 0.5%;
  user-select: none;
}
.footer-container {
  color: rgb(167, 157, 157);
  height: 100px;
  margin: 0 auto;
  display: flex;
  max-width: 1000px;
}
.left-footer {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  user-select: none;
}
.right-footer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 40px;
}
.footer-icons {
  color: rgb(167, 157, 157);
  transition: all 1s;
}
.footer-icons :hover {
  color: rgb(192, 77, 19);
  transform: scale(1.1);
}
@media screen and (max-width: 800px) {
  .creat {
    font-size: 30px;
  }
  .footer h1 {
    font-size: 20px;
  }
  .left-footer {
    font-size: 10px;
  }
  .left-footer h5 {
    position: absolute;
    top: 20%;
  }
  .right-footer {
    font-size: 25px;
  }
}
