@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
.home {
  position: relative;
  width: 100%;
  background-color: rgb(48, 48, 48);
  font-family: "Abril Fatface", cursive;
}

.header-home {
  position: sticky;
  height: 100px;
  margin: 0 auto;
  max-width: 1000px;
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-back,
.header-links {
  text-decoration: none;
  color: white;
  padding-bottom: 2px;
  transition: 0.3s linear;
}
.header-links:hover {
  color: brown;
  border-bottom: 2px solid brown;
}
.home-back:hover {
  color: brown;
  border-bottom: 2px solid brown;
}
.Links {
  display: flex;
  gap: 20px;
}
.bars {
  color: white;
  text-align: center;
  cursor: pointer;
  display: none;
}
.right-navbar {
  position: relative;
  /* z-index: 100; */
}
@media screen and (max-width: 640px) {
  .header-home {
    padding: 0 20px;
    justify-content: space-between;
  }
  .bars {
    display: block;
  }
  .Links {
    z-index: 200;
    position: absolute;
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    margin-left: -5rem;
    display: none;
    padding: 20px 30px;
    background-color: rgb(40, 40, 40);
  }
  .header-links {
    /* z-index: 100; */
    color: white;
    text-align: left;
  }
}
.main {
  width: 100%;
  height: auto;
}
.hero-section-one {
  max-width: 1000px;
  height: 100%;
  display: flex;
  margin: 0 auto;
}
.text-part {
  width: 50%;
  height: 100%;
  background-color: rgb(48, 48, 48);
}
.image-part {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: rgb(48, 48, 48);
}
.name {
  position: relative;
  text-transform: capitalize;
  color: white;
  font-family: "Abril Fatface", cursive;
  line-height: 1.2;
  letter-spacing: 2px;
  font-size: 90px;
  font-weight: 100;
  z-index: -1;
}
.firstname {
  position: absolute;
  left: -20%;
}
.lastname {
  position: absolute;
  left: 5%;
}
.image-part img {
  z-index: 5;
}
