@import url("https://fonts.googleapis.com/css2?family=Tourney:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");

/* header part css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abril Fatface", cursive;
}
.home {
  position: relative;
  width: 100%;
  background-color: rgb(48, 48, 48);
  font-family: "Abril Fatface", cursive;
}

.header-home {
  position: sticky;
  height: 100px;
  margin: 0 auto;
  max-width: 1000px;
  background-color: rgb(48, 48, 48);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-back,
.header-links {
  text-decoration: none;
  color: white;
  padding-bottom: 2px;
  transition: 0.3s linear;
}
.header-links:hover {
  color: rgb(192, 77, 19);
  border-bottom: 2px solid rgb(192, 77, 19);
}
.home-back:hover {
  color: rgb(192, 77, 19);
  border-bottom: 2px solid rgb(192, 77, 19);
}
.Links {
  display: flex;
  gap: 20px;
}
.bars {
  color: white;
  text-align: center;
  cursor: pointer;
  display: none;
}
.right-navbar {
  position: relative;
  margin-left: 3.1%;
}
.back-button {
  margin-right: 10%;
}
@media screen and (max-width: 640px) {
  .header-home {
    padding: 0 20px;
    justify-content: space-between;
  }
  .bars {
    display: block;
  }
  .Links {
    z-index: 200;
    position: absolute;
    margin-top: 2.4rem;
    display: flex;
    flex-direction: column;
    margin-left: -2rem;
    display: none;
    padding: 20px 30px;
    background-color: rgb(40, 40, 40);
  }
  .header-links {
    /* z-index: 100; */
    color: white;
    text-align: left;
  }
}

/* main section css  */

.main {
  overflow-x: hidden;
  width: 100%;
  height: auto;
}
.hero-section-one {
  max-width: 1000px;
  height: 100%;
  display: flex;
  margin: 0 auto;
}
.text-part {
  padding: 10px 30px;
  width: 50%;
  height: 100%;
  background-color: rgb(48, 48, 48);
  font-family: "Abril Fatface", cursive;
  text-align: left;
}
.image-part {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: rgb(48, 48, 48);
}
.name {
  position: relative;
  text-transform: capitalize;
  color: white;
  font-family: "Abril Fatface", cursive;
  line-height: 1.2;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 100;
}
.firstname {
  position: absolute;
  left: 2%;
  top: -8%;
}
.lastname {
  position: absolute;
  left: 20%;
  top: 60%;
}
.text-part h1 {
  color: white;
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
}
.text-part > :nth-child(2) {
  color: white;
  font-size: 30px;
  margin-bottom: 10px;
}
.me {
  color: rgb(192, 77, 19);
  font-size: 35px;
}
.text-part > p {
  margin-top: 15px;
  color: white;
  font-weight: lighter;
  font-size: 20px;
  margin-bottom: 50px;
}
.imageofmine {
  position: absolute;
  height: 20rem;
  top: 10%;
  left: 20%;
}

.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid white;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  padding: 0 30px;
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(192, 77, 19);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
@media screen and (max-width: 640px) {
  .imageofmine {
    top: 85%;
    left: -27%;
  }
  .text-part h1 {
    font-size: 19px;
    font-weight: lighter;
  }
  .text-part .mefirst {
    font-size: 24px;
  }
  .text-part .me {
    font-size: 24px;
  }
  .text-part > p {
    font-size: 14px;
    font-weight: 100;
  }
  .button-57 span:first-child {
    padding: 16px 22px;
  }
}

/* project section css  */
.projects-main {
  width: 100%;
  height: auto;
  background-color: rgb(40, 40, 40);
  overflow-x: hidden;
}
.projects {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.projects .header-h1 {
  margin-bottom: 25px;
  font-size: 70px;
  letter-spacing: 4px;
  color: rgb(192, 77, 19);
}
.project-one {
  margin-right: 10%;
  margin-bottom: 10%;
  z-index: 5;
  max-width: 1000px;
  position: relative;
  height: 500px;
  background-image: url("../images/project-one.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}
.project-one::after {
  content: "";
  color: #fff;
  position: absolute;
  background: #1f1f1f9a;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: scaleX(1);
}
.project-one-content {
  width: 500px;
  height: 100%;
  position: relative;
  float: left;
  z-index: 5;
}
.project-one-content h1 {
  position: absolute;
  top: -10%;
  left: -3%;
  font-size: 100px;
  display: none;
  transition: all 0.5s;
}
.project-one-content p {
  position: absolute;
  bottom: 20%;
  text-align: left;
  margin-left: 5%;
  display: none;
  transition: all 0.5s;
}
.project-button {
  position: absolute;
  bottom: 5%;
  left: 5%;
  display: none;
  transition: all 0.5s;
}
.github {
  position: absolute;
  color: white;
  bottom: 5%;
  left: 35%;
  font-size: 40px;
  display: none;
  transition: all 0.5s;
}
.urllink {
  position: absolute;
  color: white;
  bottom: 5%;
  left: 45%;
  font-size: 38px;
  display: none;
  transition: all 0.5s;
}
.req {
  position: absolute;
  bottom: 28%;
  text-align: left;
  left: 4%;
  min-width: 200px;
  font-size: 50px;
  display: flex;
  justify-content: space-around;
  display: none;
}
.req img {
  height: 50px;
}
.project-one:hover .urllink {
  display: block;
}
.project-one:hover .github {
  display: block;
}
.project-one:hover .project-one-content h1 {
  display: block;
}
.project-one:hover .project-one-content p {
  display: block;
}
.project-one:hover .project-button {
  display: block;
}
.project-one:hover .req {
  display: block;
}
.github:hover {
  color: rgb(192, 77, 19);
  cursor: pointer;
}
.urllink:hover {
  color: rgb(192, 77, 19);
  cursor: pointer;
}

/* second project  */

.two {
  margin-right: 0%;
  margin-left: 10%;
  background-image: url("../images/project-two.png");
}
.req-header {
  font-size: 33px;
}
.two .project-one-content {
  float: right;
}
.two .project-one-content h1 {
  right: -85%;
}
.three {
  background-image: url("../images/project-three.jpg");
}
.four {
  background-image: url("../images/project-four.png");
  margin-bottom: 10%;
}

/* CSS */
.button-55 {
  position: absolute;
  bottom: 1%;
  right: 0%;
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: 0.75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

/* me and my skill */

.my-skills {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  /* background-color: red; */
  height: 500px;
}
.text-area {
  max-width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: left;
  padding: 0 20px;
  color: white;
  font-size: 20px;
}
.text-area-header {
  font-size: 35px;
  color: rgb(192, 77, 19);
}
.text-area :nth-child(1)::first-letter {
  font-size: 75px;
}
.skills-area img {
  height: 40px;
  margin: 20px 20px;
}
.skills-area {
  width: 50%;
  display: grid;
  justify-content: space-around;
  padding: 0 10px;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}
img#img-one {
  transition: all 0.5s ease-in-out;
}
img#img-one:hover {
  transform: scale(1.5);
}
img#img-two {
  transition: all 0.5s ease-in-out;
}
img#img-two:hover {
  transform: scale(1.5);
}

img#img-three {
  transition: all 0.5s ease-in-out;
}
img#img-three:hover {
  transform: scale(1.5);
}

img#img-four {
  transition: all 0.5s ease-in-out;
}
img#img-four:hover {
  transform: scale(1.5);
}
img#img-five {
  transition: all 0.5s ease-in-out;
}
img#img-five:hover {
  transform: scale(1.5);
}
img#img-six {
  transition: all 0.5s ease-in-out;
}
img#img-six:hover {
  transform: scale(1.5);
}
img#img-seven {
  transition: all 0.5s ease-in-out;
}
img#img-seven:hover {
  transform: scale(1.5);
}
img#img-eight {
  transition: all 0.5s ease-in-out;
}
img#img-eight:hover {
  transform: scale(1.5);
}
img#img-nine {
  transition: all 0.5s ease-in-out;
}
img#img-nine:hover {
  transform: scale(1.5);
}
img#img-ten {
  transition: all 0.5s ease-in-out;
}
img#img-ten:hover {
  transform: scale(1.5);
}
img#img-eleven {
  transition: all 0.5s ease-in-out;
}
img#img-eleven:hover {
  transform: scale(1.5);
}
img#img-twello {
  transition: all 0.5s ease-in-out;
}
img#img-twello:hover {
  transform: scale(1.5);
}
img#img-thirthin {
  transition: all 0.5s ease-in-out;
}
img#img-thirthin:hover {
  transform: scale(1.5);
}
img#img-fourth {
  transition: all 0.5s ease-in-out;
}
img#img-fourth:hover {
  transform: scale(1.5);
}
img#img-fifth {
  transition: all 0.5s ease-in-out;
}
img#img-fifth:hover {
  transform: scale(1.5);
}
